@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-light: #6b7280;
    --text-dark: #1f2937;
    --extra-light: #faf5ff;
    --header-bg: #ffffff;
    --about-bg: #f3e8ff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "poppins", sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.nav_content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

nav .logo a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

nav ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

nav ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

html {
    scroll-behavior: smooth;
}

.section{
    background-color: var(--extra-light);
}

.section_container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

/* inideskripsi home */

.action_btns {
    display: flex;
    gap: 1rem;
}

.action_btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.btn_about {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    color: var(--primary-color);
}

.hire_me {
    background-color: var(--primary-color);
    color: var(--header-bg);
}

.hire_me:hover {
    background-color: var(--primary-color-dark);
}

.btn_about {
    background-color: var(--primary-color);
    color: var(--header-bg);
}

.btn_about:hover {
    background-color: var(--primary-color-dark);
}

.portofolio:hover {
    background-color: var(--primary-color-dark);
    color: var(--header-bg);
}

.portofolio {
    color: var(--primary-color);
}

.About {
    background-color: var(--about-bg);
}

/* bg-about */

.about_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.about_image,
.about_content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about_image img {
    max-width: 350px;
    border-radius: 50%;
}

.about_details {
    padding: 1rem 0;
    color: var(--text-light);
    text-align: left;
}

.about_content {
    align-items: flex-start;
    flex: 1;
    max-width: 600px;
    text-align: left;
}

.about_content .section_title {
    font-size: 30px;
}

.about_content .section_subtitle {
    color: var(--primary-color-dark);
    font-size: 20px;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);
    border-radius: 100%;
}

.project{
    padding: 50px 50px; /*ini belum beres */
    margin: auto;
    background-color: var(--extra-light);
} 

.card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    /* margin-top: 100px; */
    margin-bottom: 100px;
}

.card{
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) ;
    margin: 20px;
    transition: transform 0.3s ease-in-out; /* transisi smooth buat hover */
}

.card img{
    width: 100%;
    height: auto;
}

.card_content{
    padding: 16px;
}

.card_content h3{
    font-size: 28px;
    margin-bottom: 8px;
}


.card:hover {
    transform: translateY(-10px); 
}

.project .section_subtitle{
    text-align: center;
    font-size: 30px;
    margin-top: 75px;
    margin-bottom: 20px;
}

.project .section_title{
    text-align: center;
    margin-bottom: 40px;
    color:var(--primary-color-dark);
    font-size: 20px;
}

.footer {
    padding: 40px 20px;
    background-color: var(--primary-color-dark);
    color: var(--header-bg);
    text-align: center;
}
.footer .social {
    margin-bottom: 30px;
}

.footer .social a {
    font-size: 30px;
    color: var(--header-bg);
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer .social a:hover {
    color: var(--secondary-color);
}

.footer ul {
    margin: 20px 0;
    padding: 0;
    font-size: 18px;
    list-style: none;
}

.footer ul li a {
    color: var(--header-bg);
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.footer ul li a:hover {
    border-color: var(--secondary-color);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 20px;
    font-size: 14px;
    color: var(--header-bg);
}

@media (width < 750px) {
    nav.checkbox {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked~ul {
        left: 0;
    }

    ul li a {
        font-size: 1.25rem;
    }

    .section_container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
    }

    .action_btns {
        margin: auto;
    }
}